@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	justify-items: center;
	row-gap: 120px;
	column-gap: 100px;
	padding: 0 55px;
}

.painel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
.img_container img {
	border: 2px solid black !important;
}

.desc {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.desc > p {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.desc > p > span {
	color: #CF0000;
	font-family: 'Inter', sans-serif;
}